/* .btn {
    width: 20%;
} */
.bg-dark {
    background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
}

.rounded {
    background: rgb(0 0 0 / 15%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    color: white;
}